body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.buttons{
    padding-bottom: 5px;
    width: 300px;
    height: 30px;
    background: linear-gradient(-215deg , lightblue, rgb(76, 120, 135),  blue);
    color: black;
    border:3px solid rgb(9, 20, 60);
    background-repeat: no-repeat;
    border-color: rgb(9, 20, 60);
    
}

.buttons:hover{
    padding-bottom: 5px;
    width: 300px;
    height: 30px;
    background: linear-gradient(-215deg , rgb(133, 167, 178), rgb(56, 89, 99),  rgb(0, 0, 161));
    color: black;
    border:3px solid rgb(7, 15, 43);
    background-repeat: no-repeat;
    
}

.back{
    padding-bottom: 5px;
    width: 50px;
    height: 30px;
    background: rgb(0, 15, 40);
    color: white;
    border:3px solid rgb(9, 20, 60);
    background-repeat: no-repeat;
    border-radius: 200;
}

.back:hover{
    padding-bottom: 5px;
    width: 50px;
    height: 30px;
    background: rgb(0, 15, 40);
    color: white;
    border:3px solid rgb(4, 20, 60);
    background-repeat: no-repeat;
    border-radius: 200;
}